# Akash Console Managed Wallet API
AKASH_API_KEY=ac.sk.production.37a3aab44534177f4275c761127e4a967c6ad1949f65a5f7c66f1f8f11706ee2
AKASH_API_BASE=https://console-api.akash.network

# Required only if pulling private NGC images (nvcr.io/nvidia/omniverse/*)
# Get from https://org.ngc.nvidia.com/setup/api-keys
NGC_API_KEY=
